*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #2D93A5 ;
    height: 100vh;
}
.title{
    color: rgb(187, 207, 0) ;
    font-size: 30px;
    font-weight: bold;
}
.row:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row .col-lg-6{
    border: 1px solid black;
    padding: 0;
    margin: 0;
    min-height: 400px;
    background-color: white !important;
    font-size: 16px;
}
.row .col-lg-6 textarea{
    height: 100% !important;
    resize: unset;
    width: 100% !important;
    border: unset;
    padding: 10px;
}
.row .col-lg-6 textarea:focus{
    outline: unset !important;
}

#textInput{
    padding: 20px;
}

