*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #2D93A5;
    height: 100vh;
}
.title{
    color: rgb(187, 207, 0) !important;
    font-size: 30px !important;
    font-weight: bold;
}
.row:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row .col-lg-6{
    border: 1px solid black;
    padding: 0;
    margin: 0;
    min-height: 400px;
    background-color: white !important;
    font-size: 16px;
}
textarea{
    height: 100%;
    resize: unset !important;
    width: 100%;
    border: unset;
    padding: 10px;
    font-size: 16px;
}
textarea:focus{
outline: unset;
}
latex-js{
    height: 100vh;
}
#textInput{
    padding:5px 20px;
}
