/* Write your custom CSS here */

.category-table tr{
    text-align: center !important;
}

.category-table tr td,.category-table tr th{
    border:1px solid red;
}


.attrxibutes.bycat {
    transition: 0.2s;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin: 10px 0;
}

#editorText {
    resize: none !important;
}