<div class="container stats">
  <div class="row my-5 text-center">
    <div class="col-12 mb-4">
      <h2>
        Site  statistikasi
      </h2>
      <a class="view-all" href="/status">
        <b>
          To'liq ko'rish
        </b>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <div class="icon">
        <img
          class="img-fluid" width="150"
          src="/backend/images/man-teacher.png"
          alt="O'qituvchilar"
        />
      </div>
      <h2>
        <span>
            {{teachers.length}}
        </span>
      </h2>
      <div class="h4">
        O'qituvchilar
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="icon img-fluid">
        <img src="/backend/images/1485286.png"  class="img-fluid" width="150" alt="Reading-books" />
      </div>
      <h2>
        <span>
          {{moderators.length}}
        </span>
      </h2>
      <div class="h4">
        Dasturlovchilar
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="icon">
        <img src="/backend/images/unnamed.png" class="img-fluid" width="150" alt="Mark" />
      </div>
      <h2>
        <span>
          5259
        </span>
      </h2>
      <div class="h4">
        Tuzilgan testlar
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="icon">
        <img src="/backend/images/check-mark.png" class="img-fluid" width="150" alt="Books" />
      </div>
      <h2>
        <span>
          1395
        </span>
      </h2>
      <div class="h4">
        Tasdiqlanganlar
      </div>
    </div>
  </div>
</div>